extends ../blocks/_layout

block content

	include ../blocks/header
	
	mixin welcome
	
	mixin process3
	
	#map

	mixin offer
	
	
	//- ITEMS
	span(data-anijs='if: click, on: .process, do: $toggleClass open, to: .offer;')
	span(data-anijs='if: click, on: .go, do: $toggleClass hidden, to: .welcome, before: $geo;')
	
	each val, index in friends
		- var num = index + 1
		span(data-anijs='if: click, on: .go, do: $toggleClass hidden, to: .item#{num}, before: $timing#{num};')
		span(data-anijs='if: click, on: .go, do: $toggleClass hidden, to: .point#{num}, before: $timing#{num};')
		span(data-anijs='if: click, on: .go, do: $toggleClass hidden, to: .log#{num}, before: $timing#{num};')

	script.
		window.setInterval(function() {
			var elem = document.getElementById('items');
			elem.scrollLeft = elem.scrollWidth;
		}, 1000);
